*{ 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

img{
    max-width: 100%;
    max-height: 100%;        
}

/**
 * Typography
 */

body{
    font-family: 'Lato', sans-serif;
    color: #333;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1, h2{
    font-family: 'Playfair Display', serif;
}

h1{
    font-size: 68px;
    line-height: 1.2em;
}

h2{
    font-weight: 500;
    line-height: 1.5em;
    margin-bottom: 0.7em;
    font-size: 26px;
}

h1 span,
h2 span,
.main-nav a:hover{
    background-image: linear-gradient(#f9e4d8, #f9e4d8);
    background-repeat: no-repeat;
    background-position: 0 88%;
}

h1 span{
    background-size: 100% 0.2em;
}

nav a:hover{
    background-size: 100% 0.4em;
}

h2 span{
    background-size: 100% 0.35em;
}

h3{
    font-size: 16px;
    line-height: 2.2em;
}

.small-header{
    text-transform: uppercase;
    font-size: 11.5px;
    letter-spacing: 2px;
    display: inline-block;
    overflow: hidden;
    line-height: 1.6em;
    color: #555;
}

.small-header:before{
    display: block;
    float: left;
    margin-top: .7em;
    border-top: 1px solid #333;
    width: 38px;
    content: "";
    margin-right: 10px;
}

p{
    line-height: 1.6em;
    color: #555;
    margin-bottom: 15px;
}

.hero p{
    font-size: 18px;
}

.box p{
    font-size: 14px;
    margin-bottom: 0;
}

.boxes-heading{
    padding: 0 6vw;
    text-align: right;
}

/**
 * Structure
 */

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 35px;
    padding: 2vw 6vw;
}

.col{
    flex: 1;
}

.col:first-child{
    margin-right: 80px;
} 

.col:nth-child(3n){
    margin-left: 80px;
}

.centered{
    text-align: center;
}

/**
 * Header
 */

header{
    padding: 0 6vw;
    position: absolute;
    display: flex;
    width: 100%;
}

.logo{
    padding-top: 18px;
    padding-right: 3px;
}

.logo img{
    max-width: 46px;
    opacity: 0.9;
}

.main-nav{
    margin-top: 34px;
}

nav li{
    display: inline-block;
    margin-left: 25px;
}

nav a{
    color: #333;
    font-size: 13.5px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
}

/*
 * Hero Section
 */

 .hero .row{
    min-height: 100vh;
    margin-bottom: 50px;
 }

.hero{
    background: -webkit-linear-gradient(left, #fff 60%, #f9e4d8 40%);
    background: -moz-linear-gradient(left, #fff 60%, #f9e4d8 40%);
    background: -o-linear-gradient(left, #fff 60%, #f9e4d8 40%);
    background: -ms-linear-gradient(left, #fff 60%, #f9e4d8 40%);
    background: linear-gradient(left, #fff 60%, #f9e4d8 40%);
}

.social a{
    color: #555;
}

.social li{
    display: inline-block;
    font-size: 22px;
    margin-right: 18px;
    margin-top: 10px;
}

.social li:last-child{
    margin-right: 0;
}

.social a:hover{
    color: #d9b3a9;
}

/**
 * About Section
 */

.about .img1{
    max-width: 92%;
}

.about .img2{
    max-width: 63%;
    margin-top: -124px;
    float: right;
    z-index: 1;
    position: relative;
}

/**
 * Interests
 */

.box{
    background-color: #f7f7f7;
    height:250px;
    text-align: center;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.box .inner{
    align-self: center;
    padding: 0 20px;
}

.box img{
    max-height: 50px;
}

/**
 * Portfolio
 */

.portfolio-grid{
    display: grid;
    grid-auto-rows: 280px;
    grid-gap: 16px;
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr)); 
    margin: 0 6vw 60px 6vw;
}

.portfolio-grid .grid-2{
    grid-row: span 2;
}

.portfolio-grid .grid-3{
    grid-row: span 1;
    grid-column: span 2;
}

.projects .row{
    margin-bottom: 0;
    padding-bottom: 10px;
}

.projects .col{
    margin-right: 0;
}

.portfolio-btns{
    text-align: right;
}

.portfolio-btns button{
    border: none;
    outline: none;
    text-transform: uppercase;
    font-size: 11.5px;
    letter-spacing: 2px;
    line-height: 1.6em;
    color: #555;
    background-color: #fff;
    padding: 8px 12px;
    margin-right: 4px;
}

.portfolio-btns button:last-child{
    margin-right: 0;
}

.portfolio-btns button.active,
.portfolio-btns button:hover{
    background:#f9e4d8;
}

.projects .filtered{
    opacity: 1;
    transform: scale(1);
    filter: grayscale(0%);
    pointer-events: auto;
}

.portfolio-item{
    opacity: 0.5;
    filter: grayscale(50%);
    transition: transform .4s;
    transform: scale(0.85);
    pointer-events: none;
}

.portfolio-item img{
    min-height: 101%;
    min-width: 101%;
    object-fit: cover;
}

.portfolio-item h2{
    margin-bottom: 0.4em;
    color: #333;
}

.portfolio-item a{
    text-decoration:none;
}

.portfolio-item:hover{
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.portfolio-item .overlay{
    background: rgba(255,255,255,0.9);
    position: absolute;
    height: 101%;
    width: 101%;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center; 
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.portfolio-item:hover .overlay{
    opacity: 1;
}

.portfolio-item .overlay-content{
    text-align: center;
}

.portfolio-item button{
    padding: 10px 15px;
    width: 140px;
    border: 1px solid #333;
    background-color: transparent;
    color: #111;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
    outline: none;
}

.portfolio-item button:hover{
    background-color: #333;
    color: #fff;
    transition: all 0.2s ease;
}

/**
 * Footer
 */

footer{
    background-color: #141617;
    padding: 35px 6vw;
    font-size: 14px;
}

footer span{
    display: inline-block;
}

footer span,
footer .social a{
    color: #d0d0d0;
}

footer .social{
    float: right;
}
footer .social li{
    margin-top: 0;
}

/**
 * Media Queries
 */

@media all and (max-width: 1109px){
    h1{
        font-size: 58px;
    }

    .box:first-child{
        margin-right: 40px;
    }

    .box:nth-child(3n){
        margin-left: 40px;
    }
}

@media all and (max-width: 959px){
    h1{
        font-size: 48px;
    }

    .about .img1,
    .about .img2{
        max-width: 100%;
    }
    
    .about .img2{
        margin-top: 20px;
    }

    .box:first-child{ 
        margin-right: 20px;
    }

    .box:nth-child(3n){
        margin-left: 20px;
    }

    .portfolio-btns button{
        padding: 8px 6px;
        margin-right: 0;
    }
}

@media all and (max-width: 809px){
    h1{
        font-size: 38px;
    }

    .hero p{
        font-size: 16px;
    }

    .hero-text{
        margin-top: 30px;
    }

    .hero{
        background: -webkit-linear-gradient(left, #fff 65%, #f9e4d8 35%);
        background: -moz-linear-gradient(left, #fff 65%, #f9e4d8 35%);
        background: -o-linear-gradient(left, #fff 65%, #f9e4d8 35%);
        background: -ms-linear-gradient(left, #fff 65%, #f9e4d8 35%);
        background: linear-gradient(left, #fff 65%, #f9e4d8 35%);
    }

    .row{
        margin-bottom: 20px;
    }

    .row:not(.hero-sec):not(.boxes):not(.filter-sec){
        display: flex; 
        flex-flow: column;
    }

    .hero .row{
        margin-bottom: 30px;
    }

    .about-text{
        order: 1;
    }

    .about-img{
        order: 2;
    }

    .about .col:first-child,
    .goals .col:first-child{
        margin-right: 0;
    }

    .about img,
    .goals img{
        margin: 24px 0 8px 0;
    }

    .about .img2,
    .box .box-desc{
        display: none;
    }

    .boxes-heading{
        padding: 0 6vw 6px 6vw;
        text-align: left;
    }

    .box{
        position: relative;
        height: 180px;
    }

    .box:hover .box-desc{
        background-color: #f9e4d8;
        position: absolute;
        display: flex;
        align-items: center;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        padding: 0 15px;
    }

    .projects .row{
        display: inline-block;
    }

    .portfolio-btns{
        display: none;
    }

    .portfolio-grid{
        grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
    }

    .portfolio-grid .grid-2{
        grid-row: span 1;
    }

    .portfolio-grid .grid-3{
        grid-column: span 1;
    }

    .portfolio-item img{
        min-width: 100%;
        min-height: 100%;
    }

    .portfolio-item .overlay{
        width: 100%;
        height: 100%;
    }
}

 @media all and (max-width: 659px){
    h1{
        font-size: 46px;
    }

    h3{
        line-height: 1em;
        padding-top: 5px;
    }

    .main-nav{
        display: none;
    }

    .hero{
        background: none;
    }

    .hero .row{
        display: inline-block;
        margin-top: 50px;
        margin-bottom: 20px;
        min-height: auto;
    }

    .hero .col:first-child{
        margin-right: 0;
    }

    .hero-text{
        margin-bottom: 22px;
    }

    .hero .social,
    .box:hover .box-desc{
        display: none;
    }

    .about img,
    .goals img{
        margin-top: 16px;
    }

    .box{
        height: 120px;
    }

    .portfolio-grid .grid-1,
    .portfolio-grid .grid-2,
    .portfolio-grid .grid-3{
        grid-column: span 2;
    }

    footer{
        text-align: center;
        padding: 25px 6vw;
    }

    footer .social{
        margin-top: 12px;
        display: block;
        float: none;
    }

    footer .social li{
        font-size: 20px;
    }
}